/*
body {
    background-image: url(https://wallpaperplay.com/walls/full/7/3/a/162157.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}
*/
